@import '~@swimlane/ngx-datatable/index.css';
@import '~@swimlane/ngx-datatable/themes/material.css';
@import '~@swimlane/ngx-datatable/assets/icons.css';

.ngx-datatable {
  height: 84vh;
  border-radius: 8px;
}

.datatable-header {
  background-color: lightgray;
  border: 0 !important;
}

.datatable-header-cell {
  background-color: lightgrey !important;
  font-size: 14px !important;
  padding: 6px 18px !important;
}

.datatable-body {
  overflow-x: hidden;
}

.datatable-body-cell {
  line-height: 2em !important;
}

.datatable-body-cell-label {
  line-height: 2em !important;
  text-overflow: ellipsis;
  overflow: hidden;
}

.actions-header {
  .datatable-header-cell-template-wrap {
    float: right;
    margin-right: 12px;
  }
}

.action-buttons-cell {
  .datatable-body-cell-label {
    overflow: visible;
  }
}

.action-menu-cell {
  .datatable-body-cell-label {
    overflow: visible;
  }
}

.datatable-checkbox input[type='checkbox']:checked:before {
  border-color: #3f51b5 !important;
}

.datatable-checkbox input[type='checkbox']:checked:after {
  border-color: #3f51b5 !important;
}






