<div class="side-bar" [ngClass]="{'main-side-bar-expanded' : sideNavExpanded}">
  <div fxLayout="column" style="height: 100%">
    <div fxFlex="1 0 90">
      <div style="position: relative">
        <button mat-icon-button>
          <mat-icon>home</mat-icon>
        </button>
        <span style="position: absolute; top: 13px; margin-left: 2px; opacity: 0"
              [ngClass]="{'show' : sideNavExpanded}">Home</span>
      </div>

      <div style="position: relative">
        <button mat-icon-button>
          <mat-icon>search</mat-icon>
        </button>
        <span style="position: absolute; top: 10px; margin-left: 2px; opacity: 0"
              [ngClass]="{'show' : sideNavExpanded}">Search</span>
      </div>
    </div>
    <div fxFlex="0 0 auto">
      <button [disableRipple]="true" mat-icon-button>
        <mat-icon (click)="doSideNavExpansion()" class="expand-icon"
                  [ngClass]="{'expand-icon-transition' : sideNavExpanded}">all_out
        </mat-icon>
      </button>
    </div>
  </div>
</div>
<div class="main">
  <div class="main-content">
    <div class="main-nav-bar">
      <nav mat-tab-nav-bar>
        <a mat-tab-link [disableRipple]="true"
           *ngFor="let link of navLinks"
           [routerLink]="link.path"
           routerLinkActive #rla="routerLinkActive"
           [active]="rla.isActive">
          <button mat-button [ngClass]="{'nav-button-active' : rla.isActive}">{{link.label}}</button>
        </a>

        <div class="flex-spacer"></div>

        <button [disableRipple]="true" mat-button routerLink="/rxjs-tester">RxJS tester</button>
        <button [disableRipple]="true" mat-button>Button 2</button>
        <button [disableRipple]="true" mat-button>Button 3</button>
      </nav>
    </div>
    <router-outlet></router-outlet>
  </div>

</div>
