.screen-content {
  padding: 0px 24px 0 24px;
}

.flex-spacer {
  flex-grow: 1;
}

.disable-div {
  pointer-events: none;
  cursor: none;
}

.show {
  opacity: 1 !important;
  transition-property: opacity;
  transition-duration: 1s;
  transition-delay: .1s;
}
