<div class="screen-content">

  <div fxLayout>
    <div fxFlex>
      <input
        type="text"
        style="padding:8px;margin:15px auto;width:30%;"
        placeholder="Type to filter the id column..."
        (keyup)="updateFilter($event)"/>
    </div>
    <div fxFlex="0 0 10">
      <!--      <div style="position: relative; top: 1em; direction: rtl">-->
      <!--        <button mat-icon-button>-->
      <!--          <mat-icon>delete_outline</mat-icon>-->
      <!--        </button>-->
      <!--      </div>-->
    </div>
  </div>

  <ngx-datatable
    class="material"
    [loadingIndicator]="loading"
    [rows]="filteredPeople"
    [columns]="peopleColumns"
    [columnMode]="'flex'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="getRowHeight()"
    [scrollbarV]="true"
    [selected]="selected"
    [selectionType]="'checkbox'"
    [selectAllRowsOnPage]="false"
    (select)="onSelect($event)"
    [messages]="tableMessages">

    <!-- Can't use combination of columns and template columns -->
    <!--    <ngx-datatable-column-->
    <!--      [width]="30"-->
    <!--      [sortable]="false"-->
    <!--      [canAutoResize]="false"-->
    <!--      [draggable]="false"-->
    <!--      [resizeable]="false"-->
    <!--      [headerCheckboxable]="true"-->
    <!--      [checkboxable]="true"></ngx-datatable-column>-->

    <!--    <ngx-datatable-column name="User Id" [resizeable]="false" [flexGrow]="1">-->
    <!--      <ng-template let-value="value" ngx-datatable-cell-template>-->
    <!--        {{ value }}-->
    <!--      </ng-template>-->
    <!--    </ngx-datatable-column>-->
    <!--    <ngx-datatable-column name="Id" [resizeable]="false" [flexGrow]="1">-->
    <!--      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>-->
    <!--        {{ value }}-->
    <!--      </ng-template>-->
    <!--    </ngx-datatable-column>-->
    <!--    <ngx-datatable-column name="Title" [resizeable]="false" [flexGrow]="3">-->
    <!--      <ng-template let-value="value" ngx-datatable-cell-template>-->
    <!--        {{ value }}-->
    <!--      </ng-template>-->
    <!--    </ngx-datatable-column>-->
    <!--    <ngx-datatable-column name="Body" [resizeable]="false" [flexGrow]="3">-->
    <!--      <ng-template let-value="value" ngx-datatable-cell-template>-->
    <!--        {{ value }}-->
    <!--      </ng-template>-->
    <!--    </ngx-datatable-column>-->

    <!-- Comment data templates -->
    <ng-template #userIdHeaderTmpl let-column="column"><strong>{{ column.name }}</strong></ng-template>
    <ng-template #userIdTmpl let-row="row" let-value="value">
      <div>{{row.userId}}</div>
    </ng-template>

    <ng-template #idHeaderTmpl let-column="column"><strong>{{ column.name }}</strong></ng-template>
    <ng-template #idTmpl let-row="row" let-value="value">
      <div>{{row.id}}</div>
    </ng-template>

    <ng-template #titleHeaderTmpl let-column="column"><strong>{{ column.name }}</strong></ng-template>
    <ng-template #titleTmpl let-row="row" let-value="value">
      <div>{{row.title}}</div>
    </ng-template>

    <ng-template #bodyHeaderTmpl let-column="column"><strong>{{ column.name }}</strong></ng-template>
    <ng-template #bodyTmpl let-row="row" let-value="value">
      <div>{{row.body}}</div>
    </ng-template>

    <!-- Person data templates -->
    <ng-template #personIdHeaderTmpl let-column="column"><strong>{{ column.name }}</strong></ng-template>
    <ng-template #personIdTmpl let-row="row" let-value="value">
      <div>{{row.id}}</div>
    </ng-template>

    <ng-template #personNameHeaderTmpl let-column="column"><strong>{{ column.name }}</strong></ng-template>
    <ng-template #personNameTmpl let-row="row" let-value="value">
      <div>{{row.name}}</div>
    </ng-template>

    <ng-template #personGenderHeaderTmpl let-column="column"><strong>{{ column.name }}</strong></ng-template>
    <ng-template #personGenderTmpl let-row="row" let-value="value">
      <div>{{row.gender}}</div>
    </ng-template>

    <ng-template #personAgeHeaderTmpl let-column="column"><strong>{{ column.name }}</strong></ng-template>
    <ng-template #personAgeTmpl let-row="row" let-value="value">
      <div>{{row.age}}</div>
    </ng-template>

    <-- Row action templates -->
    <ng-template #actionsHeaderTmpl let-column="column"><strong>{{ column.name }}</strong></ng-template>
    <ng-template #actionsTmpl let-row="row" let-value="value">
      <div style="float: right">
        <button mat-icon-button (click)="editClicked(row.id)">
          <mat-icon>edit_outline</mat-icon>
        </button>
        <button mat-icon-button (click)="copyClicked(row.id)">
          <mat-icon>file_copy_outline</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteClicked(row.id)">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </div>
    </ng-template>

    <ng-template #actionMenuHeaderTmpl let-column="column"><strong>{{ column.name }}</strong></ng-template>
    <ng-template #actionMenuTmpl let-row="row" let-value="value">
      <div style="float: right; width: 100%">
        <button mat-stroked-button style="width: 95%" (click)="openAssignmentDialog(row.id)">
          <span style="float: left">Menu</span>
          <mat-icon style="float: right; position: relative; top: 0.15em; right: -0.5em;">arrow_drop_down</mat-icon>
        </button>
      </div>
    </ng-template>
  </ngx-datatable>

</div>
