<div class="screen-content">

  <div fxLayout>
    <div fxFlex>
      <input
        type="text"
        style="padding:8px;margin:15px auto;width:30%;"
        placeholder="Type to filter the age column..."
        (keyup)="updateFilter($event)"/>
    </div>
    <div fxFlex="0 0 10">
      <!--      <div style="position: relative; top: 1em; direction: rtl">-->
      <!--        <button mat-icon-button>-->
      <!--          <mat-icon>delete_outline</mat-icon>-->
      <!--        </button>-->
      <!--      </div>-->
    </div>
  </div>

  <ngx-datatable
    class="material"
    [loadingIndicator]="loading"
    [rows]="filteredPeople"
    [columns]="peopleColumns"
    [columnMode]="'flex'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="getRowHeight()"
    [scrollbarV]="true"
    [selected]="selected"
    [selectionType]="'checkbox'"
    [selectAllRowsOnPage]="false"
    (select)="onSelect($event)"
    [messages]="tableMessages"
    (activate)="onActivate($event)"
    (mouseleave)="deactivate($event)">

    <!-- Can't use combination of columns and template columns -->
    <!--    <ngx-datatable-column-->
    <!--      [width]="30"-->
    <!--      [sortable]="false"-->
    <!--      [canAutoResize]="false"-->
    <!--      [draggable]="false"-->
    <!--      [resizeable]="false"-->
    <!--      [headerCheckboxable]="true"-->
    <!--      [checkboxable]="true"></ngx-datatable-column>-->

    <!--    <ngx-datatable-column name="User Id" [resizeable]="false" [flexGrow]="1">-->
    <!--      <ng-template let-value="value" ngx-datatable-cell-template>-->
    <!--        {{ value }}-->
    <!--      </ng-template>-->
    <!--    </ngx-datatable-column>-->
    <!--    <ngx-datatable-column name="Id" [resizeable]="false" [flexGrow]="1">-->
    <!--      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>-->
    <!--        {{ value }}-->
    <!--      </ng-template>-->
    <!--    </ngx-datatable-column>-->
    <!--    <ngx-datatable-column name="Title" [resizeable]="false" [flexGrow]="3">-->
    <!--      <ng-template let-value="value" ngx-datatable-cell-template>-->
    <!--        {{ value }}-->
    <!--      </ng-template>-->
    <!--    </ngx-datatable-column>-->
    <!--    <ngx-datatable-column name="Body" [resizeable]="false" [flexGrow]="3">-->
    <!--      <ng-template let-value="value" ngx-datatable-cell-template>-->
    <!--        {{ value }}-->
    <!--      </ng-template>-->
    <!--    </ngx-datatable-column>-->

    <!-- Comment data templates -->
    <ng-template #userIdTmpl let-row="row" let-value="value">
      <div>{{row.userId}}</div>
    </ng-template>

    <ng-template #idTmpl let-row="row" let-value="value">
      <div>{{row.id}}</div>
    </ng-template>

    <ng-template #titleTmpl let-row="row" let-value="value">
      <div>{{row.title}}</div>
    </ng-template>

    <ng-template #bodyTmpl let-row="row" let-value="value">
      <div>{{row.body}}</div>
    </ng-template>

    <!-- Person data templates -->
    <ng-template #personIdTmpl let-row="row" let-value="value">
      <div>{{row.id}}</div>
    </ng-template>

    <ng-template #personNameTmpl let-row="row" let-value="value">
      <div>{{row.name}}</div>
    </ng-template>

    <ng-template #personGenderTmpl let-row="row" let-value="value">
      <div>{{row.gender}}</div>
    </ng-template>

    <ng-template #personAddressTmpl let-row="row" let-value="value">
      <span>{{row.address.state}}, </span>
      <span>{{row.address.city}}</span>
    </ng-template>

    <ng-template #personAgeTmpl let-row="row" let-value="value">
      <div>{{row.age}}</div>
    </ng-template>

    <-- Row action templates -->
    <ng-template #actionsTmpl let-row="row" let-value="value">
      <div style="float: right; position: relative; top: -6px">
        <button mat-icon-button (click)="editClicked(row.id)">
          <mat-icon>edit_outline</mat-icon>
        </button>
        <button mat-icon-button (click)="copyClicked(row.id)">
          <mat-icon>file_copy_outline</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteClicked(row.id)">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </div>
    </ng-template>

    <ng-template #actionMenuTmpl let-row="row" let-value="value">
      <div style="float: right; width: 100%; position: relative; top: -4px;">

        <div *ngIf="row.id % 2 === 0">
          <button mat-stroked-button style="width: 95%" (click)="openAssignmentDialog(row.id)">
            <span style="float: left">Assign</span>
            <mat-icon style="float: right; position: relative; top: 0.15em; right: -0.2em;">compare_arrows_outline
            </mat-icon>
          </button>
        </div>

        <div *ngIf="row.id % 2 !== 0">
          <button mat-stroked-button style="width: 95%;"
                  [ngStyle]="row.id === activeRow && {'background-color':'#e8e8e8'}"
                  [matMenuTriggerFor]="menu">
            <span style="float: left">Menu</span>
            <mat-icon style="float: right; position: relative; top: 0.15em; right: -0.5em;">arrow_drop_down</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
          </mat-menu>
        </div>


      </div>
    </ng-template>
  </ngx-datatable>

</div>
